<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Refunded Successful!</h2>
		<p>Your payment has been refunded successfully.</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>